apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{APP_NAME}}

resources:
  - ../../base/{{APP_NAME}}

images:
  - name: {{IMAGE_NAME}}
    newName: {{REGISTRY}}/{{IMAGE_NAME}}
    newTag: {{TAG}}

replicas:
  - name: {{APP_NAME}}
    count: {{REPLICAS}}

configMapGenerator:
  - name: {{APP_NAME}}-config
    envs:
      - config.env

secretGenerator:
  - name: {{APP_NAME}}-secrets
    envs:
      - secrets.env
